@import "variablesTest";
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Spinnaker');
$colorImport: $colorTest;


$colorFont: #303030;
$colorBackground: white;
$typeFont : Spinnaker, sans-serif , verdana;
$colorBorder: grey;
$colorFontTitle: #E33F0E;



@mixin border {
  border: solid rgba(227, 63, 14, 1) 3px;
}

header
{
	
	background-color: rgba(220, 220, 220, 1);
	height: 170px;
	width: 100%;
	color: $colorFont;

}

footer
{
	background-color: rgba(220, 220, 220, 1);
	margin-top: 10px;
	
}
body h1 
{
	color: $colorFontTitle;
	font-size: 80px;
	margin: 10px;
}

body h2
{
color: $colorFontTitle;
font-size: 30px;
	margin: 10px;
}

body h3
{
font-size: 15px;
	margin: 10px;
}

.blocContact 
{
	
	
	height: 315px;
	background-color: rgba(220, 220, 220, 1);
	padding: 20px;
	
}
.button input
{
	background-color: rgba(255, 255, 255, 1);
    @include border;
	font-family: Spinnaker;
	font-size: 15px;
	padding : 5px;
	width: 230px;
	height: 36px;
}

.button input:hover
{
	background-color: rgba(227, 63, 14, 1);
    cursor: pointer !important;
	color: rgba(255, 255, 255, 1);
}


h2
{
	color: $colorFontTitle;
	
}

.bloc
{
	
	margin-bottom: 10px;
	
}

body {

background-color: $colorBackground;
color: $colorFont;
font-family: $typeFont;

}

ul {
    list-style-type: none;
    margin-left: -100px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #303030;
    text-align: center;
    padding-left : 200px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover 
{
	color: white;
}




.presentation
{

	margin: 10px;
	padding: 10px;
	margin-left: 250px;
	margin-right:250px;
	


}

a
{
	color: $colorFont;
}

a:hover{
	
	color: white;
}

.nameHeader
{
	margin-top:10px;
	font-size: 50px;
}

.textPresentationSimple
{
	
	width: 650px;
	margin-top: 50px;
	font-size:27px;
	
}

.icone
{
	margin-top: -35px;
	
}
.titreContact
{
	font-size: 22px;
}
.textPresentationDetail
{

	font-size:21px;
	font-style: normal;
	
}

.blocInfos
{
	width: 450px;
}

.blocFormations
{
	width: 700px;
}

.blocExperience
{
	width: 800px;
}

.flex
{
	display:flex;
}

.blocImage img
{
	
	width: 275px;
	height: 391px;
	
	margin-top: -150px;
	margin-bottom: 20px;
	padding: 20px;
	
	
}



.textHeader
{
	margin-left: 250px;
	
	height: 170px;
	
}

.barreTitre
{

	position: absolute;
	left: 275px;
	margin-top: -20px;
	
}

.barreSousTitre
{

	position: center;
	margin-top: -5px;
}

a:link
{
	text-decoration:none;
}


 
.fb, .linkedin, .twitter, .youtube
{ display: inline-block; background: url('sprite/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.fb { background-position: -5px -0px; width: 50px; height: 50px; }
.linkedin { background-position: -60px -0px; width: 50px; height: 50px; }
.twitter { background-position: -5px -55px; width: 50px; height: 50px; }
.youtube { background-position: -60px -55px; width: 50px; height: 50px; }





@media print
{
	#navbar
	{
		display: none;
		
	}
	
	.presentation
	{
		margin-top: -60px; 
		padding: 10px;
		margin-left: 0px;
		margin-right:0px;
	}
	
	.blocImage img
	{
	
	position: absolute;
	left: 700px;
	top: 150px;
	margin-bottom: 20px;
	padding: 20px;
	
	
	}
	
	.barreTitre
	{
		left: 30px;
	}
	
	.textPresentationSimple
	{
	
		
		margin-bottom: 50px;
	
	}
	
	.textHeader
	{
		margin-left: 30px;
		margin-top: 50px;
	
	}
	
	.button
	{
		display: none;
	}
	
	.blocContact 
	{
	
	margin-top: -60px;
	height: 300px;
	background-color: rgba(220, 220, 220, 1);
	padding: 20px;
	
	}
	
	#social-network
	{
		display: none;
	}
	
	footer
	{
		margin-top: -125px;
	}
		
}








